/* Page styles */

p {
    font-size: 1.55rem;
}

/* Class styles */

/* Contact */

.contact__input {
    line-height: 255%;
}

.contact__input--submit {
    font-size: 1.55rem;
}

.contact__link {
    width: 6.5%;
}

/* Process */

.processes__text__left--top {
    left: 47%;
    top: 60%;
    -webkit-transform: translate(-104%, -60%);
    transform: translate(-104%, -60%);
    height: auto;
}

.processes__text__right--bottom {
    left: 81%;
    top: 70%;
    -webkit-transform: translate(-62%, 371%);
    transform: translate(-62%, 371%);
    height: auto;
}

/* Services */

.services__text__right {
    left: 74%;
    top: 59%;
    -webkit-transform: translate(-45%, 37%);
    transform: translate(-45%, 37%);
}

.services__text__right--paragraph {
    font-size: 1.15rem;
}

.services__text__left {
    left: 80%;
    top: 58%;
    -webkit-transform: translate(-70%, 25%);
    transform: translate(-70%, 25%);
}




