/* Page styles */

p {
    font-size: 1.25rem;
}

/* Class styles */

/* Process */

.processes__text__right--bottom {
    left: 81%;
    top: 70%;
    -webkit-transform: translate(-62%, 320%);
    transform: translate(-62%, 320%);
}

/* Services */

.services__text__right--paragraph {
    font-size: .9rem;
}

.services__text__right {
    left: 74%;
    top: 58%;
    -webkit-transform: translate(-45%, 49%);
    transform: translate(-45%, 49%);
}

.services__text__left {
    left: 75%;
    top: 58%;
    -webkit-transform: translate(-70%, 25%);
    transform: translate(-70%, 25%);
}