p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
}

.contact__input--submit {
    font-size: 1.25rem;
}

.services__text__right--paragraph {
    font-size: .9rem;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title__right {
    right: -5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
    transform: translate(-5%, -50%);
    width: 50%;
    height: auto;
}

.title__left {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-95%, -50%);
    transform: translate(-95%, -50%);
    width: 50%;
    height: auto;
}

.title__top {
    top: 18%;
    width: 40%;
}

.title__bottom {
    top: 70%;
}

.text {
    position: absolute;
    text-align: justify;
    width: 42%;
}

.text__center {
    left: 75%;
    top: 60%;
    -webkit-transform: translate(-112%, 103%);
    transform: translate(-112%, 103%);
    height: auto;
}

.text__left--bottom {
    left: 53%;
    top: 60%;
    -webkit-transform: translate(-105%, 12%);
    transform: translate(-105%, 12%);
    height: auto;
}


.text__right--bottom {
    left: 85%;
    top: 60%;
    -webkit-transform: translate(-105%, -5%);
    transform: translate(-105%, -5%);
    height: auto;
}

.text__left--top {
    left: 47%;
    top: 60%;
    -webkit-transform: translate(-104%, -95%);
    transform: translate(-104%, -95%);
    height: auto;
}

.text__right--top {
    left: 75%;
    top: 58%;
    -webkit-transform: translate(-70%, 25%);
    transform: translate(-70%, 25%);
    height: auto;
}

.services__text__right {
    left: 74%;
    top: 58%;
    -webkit-transform: translate(-45%, 49%);
    transform: translate(-45%, 49%);
    height: auto;
    width: 31.3%;
}

.services__text__left {
    left: 75%;
    top: 58%;
    -webkit-transform: translate(-70%, 25%);
    transform: translate(-70%, 25%);
    height: auto;
}

.processes__text__right--bottom {
    left: 81%;
    top: 70%;
    -webkit-transform: translate(-62%, 320%);
    transform: translate(-62%, 320%);
    height: auto;
}

.processes__text__left--top {
    left: 47%;
    top: 60%;
    -webkit-transform: translate(-104%, -60%);
    transform: translate(-104%, -60%);
    height: auto;
}

.text__top {
    top: 25%;
}

.square__large {
    width: 10%;
}

.square__large--left {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
}

.square__large--right {
    -webkit-transform: translateX(750%);
    transform: translateX(750%);
}

.square__large--left--top {
    -webkit-transform: translate(150%, 120%);
    transform: translate(150%, 120%);
}

.square__large--left--bottom {
    -webkit-transform: translate(150%, 310%);
    transform: translate(150%, 310%);
}

.square__large--right--top {
    -webkit-transform: translate(750%, 120%);
    transform: translate(750%, 120%);
}

.square__small {
    width: 6%;
}

.square__small--right--inner--mid {
    -webkit-transform: translate(1305%, 440%);
    transform: translate(1305%, 440%);
}

.square__small--right--outter--top {
    -webkit-transform: translate(1465%, 270%);
    transform: translate(1465%, 270%);
}

.square__small--right--bottom {
    -webkit-transform: translate(1305%, 445%);
    transform: translate(1305%, 445%);
}

.square__small--left--bottom {
    -webkit-transform: translate(305%, 655%);
    transform: translate(305%, 655%);
}

#about-us-aj-inner {
    left: 47.3%;
    top: 60%;
    width: 39.75%;
}
