p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.view {
    font-size: 200%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}


.view__group {
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.view__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

.img__landing {
    width: 75% !important;
    max-height: 80% !important;
    top: 50% !important;
}


/* Title */

.title {
    position: relative;
    left: 50%;
    top: 18%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    max-height: 30%;
}

.title__bottom {
    top: 70%;
}

/* Text */

.text {
    position: relative;
    text-align: justify;
    width: 80%;
    left: 10%;
    z-index: 1;
    top: 40%;
}

.text__center {
    left: 75%;
    top: 60%;
    -webkit-transform: translate(-112%, 103%);
    transform: translate(-112%, 103%);
    height: auto;
}

/* Services */

.services__text__left {
    left: 40%;
    top: 25%;
    -webkit-transform: translate(-70%, 25%);
    transform: translate(-70%, 25%);
    width: 50%;
    height: auto;
}

.services__text__right {
    left: 90%;
    top: 55%;
    -webkit-transform: translate(-70%, 30%);
    transform: translate(-70%, 30%);
    width: 50%;
    height: auto;
    
}

.processes__text__right--bottom {
    left: 81%;
    top: 70%;
    -webkit-transform: translate(-62%, 371%);
    transform: translate(-62%, 371%);
    height: auto;
}

.text__top {
    top: 25%;
}

/* Square */

.square__small {
    width: 20%;
}

.square__small--right--inner--mid {
    -webkit-transform: translate3d(245px, 510px, 10px);
    transform: translate3d(245px, 510px, 10px);
    z-index: 1;
}

#about-us-aj-inner {
    left: 47.3%;
    top: 60%;
    width: 39.75%;
}