/* Body */

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: .85rem;
}

/* Views */

.view {
    font-size: 200%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.view__group {
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.view__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }


.img__landing {
    width: 75% !important;
    max-height: 80% !important;
    top: 50% !important;
}

/* Contact Us */
.contact__body {
    top: 40% !important;
    width: 80% !important;
}

.contact__input {
    line-height: 100%;
}

.contact__link {
    width: 11%;
}

.contact__title {
    top: 15% !important;
    width: 80% !important;
}

/* Process */

.processes__text__left--top {
    left: 50%;
    margin-top: 10%;
    height: auto;
    top: 8% !important;
}

.processes__text--center {
    left: 50%;
    margin-top: 10%;
    height: auto;
    top: 35% !important;
}

.processes__text__right--bottom {
    left: 50%;
    margin-top: 10%;
    height: auto;
    top: 65% !important;
}

/* Title */

.title {
    position: relative;
    left: 50%;
    top: 8%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    max-height: 30%;
}

.title__lets-get-started {
    top: 15% !important;
}

/* Text */

.text {
    position: absolute;
    text-align: justify;
    width: 80%;
    left: 10%;
    z-index: 1;
    top: 40%;
}

.text__right--bottom {
    top: 65%;
}

/* Services */

.services__text__left {
    left: 40%;
    top: 25%;
    -webkit-transform: translate(-70%, 25%);
    transform: translate(-70%, 25%);
    width: 50%;
    height: auto;
}

.services__text__right {
    left: 90%;
    top: 55%;
    -webkit-transform: translate(-70%, 30%);
    transform: translate(-70%, 30%);
    width: 50%;
    height: auto;
}

/* Square */

.square__small {
    width: 20%;
}

.square__small--right--inner--mid {
    -webkit-transform: translate3d(245px, 510px, 10px);
    transform: translate3d(245px, 510px, 1px);
    z-index: 1;
}

#about-us-spokane {
    height: 100%;
    width: auto;
}

#about-us-title {
    top: 15%;
}

#about-us-aj-inner {
    left: 50%;
    top: 60%;
    width: 100%;
}