/* view base styles */

.view {
    font-size: 200%;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}


.view__group {
    position: relative;
    height: 500px;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.view__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .view__layer--fore {
      -webkit-transform: translateZ(90px) scale(.7);
      transform: translateZ(90px) scale(.7);
      z-index: 1;
  }

  .view__layer--closest {
      -webkit-transform: translateZ(200px) scale(.45);
      transform: translateZ(200px) scale(.45);
      z-index: 5;
  }
  .view__layer--base {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      z-index: 4;
  }
  .view__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .view__layer--deep {
      -webkit-transform: translateZ(-600px) scale(3);
      transform: translateZ(-600px) scale(3);
      z-index: 2;
  }

/* Page styles */

p {
    font-size: 2.5rem;
}

input {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

/* Class styles */

/* About Us */
#about-us-aj-inner {
    left: 47.3%;
    top: 60%;
    width: 39.75%;
}


/* Process */

.processes__text--center {
    left: 75%;
    top: 60%;
    -webkit-transform: translate(-112%, 103%);
    transform: translate(-112%, 103%);
    height: auto;
}

.processes__text__left--top {
    left: 47%;
    top: 60%;
    -webkit-transform: translate(-104%, -60%);
    transform: translate(-104%, -60%);
    height: auto;
}

.processes__text__right--bottom {
    height: auto;
}

/* Services */

.services__text__left {
    height: auto;
}

.services__text__right {
    height: auto;
    width: 31.3%;
}

/* Square */

.square__large {
    width: 10%;
}

.square__large--left--bottom {
    -webkit-transform: translate(150%, 310%);
    transform: translate(150%, 310%);
}

.square__large--left--top {
    -webkit-transform: translate(150%, 120%);
    transform: translate(150%, 120%);
}

.square__large--right--top {
    -webkit-transform: translate(750%, 120%);
    transform: translate(750%, 120%);
}

.square__small {
    width: 6%;
}

.square__small--left--bottom {
    -webkit-transform: translate(305%, 565%);
    transform: translate(305%, 565%);
}

.square__small--right--bottom {
    -webkit-transform: translate(1305%, 445%);
    transform: translate(1305%, 445%);
}

.square__small--right--inner--mid {
    -webkit-transform: translate(1305%, 440%);
    transform: translate(1305%, 440%);
}

.square__small--right--outter--top {
    -webkit-transform: translate(1465%, 270%);
    transform: translate(1465%, 270%);
}


/* Text */

.text__top {
    top: 25%;
}

.text__right--bottom {
    left: 85%;
    top: 60%;
    -webkit-transform: translate(-105%, -5%);
    transform: translate(-105%, -5%);
    height: auto;
}

.text__right--top {
    left: 75%;
    top: 58%;
    -webkit-transform: translate(-70%, 25%);
    transform: translate(-70%, 25%);
    height: auto;
}

.text__left--top {
    left: 47%;
    top: 60%;
    -webkit-transform: translate(-104%, -95%);
    transform: translate(-104%, -95%);
    height: auto;
}

.text__left--bottom {
    left: 53%;
    top: 60%;
    -webkit-transform: translate(-105%, 12%);
    transform: translate(-105%, 12%);
    height: auto;
}

/* Title */

.title__left {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-95%, -50%);
    transform: translate(-95%, -50%);
    width: 50%;
    height: auto;
}

.title__right {
    right: -5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
    transform: translate(-5%, -50%);
    width: 50%;
    height: auto;
}

.title__bottom {
    top: 70%;
}

/* Group Z-index */

#group1 {
    z-index: 5;
}

#group1 .view__layer--base {
    background: #2E3B3B;
}

#group2 {
    z-index: 3;
}

#group2 .view__layer--back {
    background: #FFFFFD;
}

#group3 {
    z-index: 4;
}

#group3 .view__layer--base {
    background: #EFF3E3;
}

#group4 {
    z-index: 2;
}

#group4 .view__layer--deep {
    background: #FFFFFD;
}

#group5 {
    z-index: 3;
}

#group5 .view__layer--base {   
    object-fit: contain;
}

#group6 {
    z-index: 4;
}

#group6 .view__layer--base {
    background: #344343;
}
