/* Page styles */

p {
    font-size: 1rem;
}

/* Class styles */

/* Process */

.processes__text__right--bottom {
    left: 81%;
    top: 70%;
    -webkit-transform: translate(-62%, 341%);
    transform: translate(-62%, 341%);
}

/* Services */

.services__text__right--paragraph {
    font-size: .75rem;
}

.services__text__right {
    left: 74%;
    top: 56%;
    -webkit-transform: translate(-45%, 44%);
    transform: translate(-45%, 44%);
}

.services__text__left {
    left: 76%;
    top: 55%;
    -webkit-transform: translate(-70%, 25%);
    transform: translate(-70%, 25%);
}

/* Square */

.square__large--left--bottom {
    -webkit-transform: translate(150%, 285%);
    transform: translate(150%, 285%);
}

.square__small--right--inner--mid {
    -webkit-transform: translate(1305%, 390%);
    transform: translate(1305%, 390%);
}

.square__small--right--outter--top {
    -webkit-transform: translate(1465%, 220%);
    transform: translate(1465%, 220%);
}

.square__small--left--bottom {
    -webkit-transform: translate(305%, 565%);
    transform: translate(305%, 565%);
}
