/* Page styles */

a {
    color: black;
    cursor: pointer;
}

body, html {
    overflow: hidden;
}

body {
    font: 100% / 1.5 Arial;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
}

.img__landing {
    width: 35% !important;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

/* Class Styles */

/* Contact */
.contact__body {
    padding: 20px;
    width: 40%;
}

.contact__input {
    line-height: 150%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.contact__input--border {
    border: 3px solid lightgray;
}

.contact__input--name {
    float: left;
}

.contact__input--phone {
    float: right
}

.contact__input--submit {
    float: right;
    border: none;
    background-color: #77BDC3;
    font-family:  'Courier New', Courier, monospace;
    font-size: 1.25rem;
    font-weight: bold;
    color: #E9F0DD;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 4%;
}

.contact__input--details {
    resize: none;
}

.contact__title {
    width: 50% !important;
}

.contact__link {
    float: right;
    width: 8%;
    margin-left: 4%;
    margin-top: 4%;
}


/* Text */

.text {
    position: absolute;
    text-align: justify;
    width: 42%;
}

/* Title */

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title__top {
    top: 18%;
    width: 40%;
}

/* Group styles */
#group1 .view__layer--base {
    background: #2E3B3B;
}

#group2 .view__layer--back {
    background: #FFFFFD;
}

#group3 .view__layer--base {
    background: #EFF3E3;
}

#group4 .view__layer--deep {
    background: #FFFFFD;
}

#group5 .view__layer--base {   
    object-fit: contain;
}

#group6 .view__layer--base {
    background: #344343;
}
